.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

.xbutton {
    height: 40px;
    width: 140px;
    color: greenyellow;
    background-color: black;
    font-size: 22px;
    border-radius: 12px;
}

.xbutton:hover {
    color: yellow;
    background-color: #808080;
}

.xbutton:focus {outline:0;}